body{
  font-family: 'Roboto';
  font-size: 30px;
  background-color: #757575;
}

.container-center{
  border-radius: 25px;
  margin: auto;
  width: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: white;
}

.title{
  font-family: 'Roboto';
  font-size: 50px;
  text-align: center;
  background-color: #FFC107;
  border-top: 15px solid #FFA000;
  color: white;
  margin: -10px;
  padding: -5px;
  position: relative;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius:0;
}

#nameBlurred{
  opacity: 0.3;
  color: #757575;
}

#nameUnblurred{
  opacity: 1;
}

dt:hover {
  background-color: #BDBDBD;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius: 25px;
}

#description{
  margin: auto;
  width: inherit;
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}