body{
  font-family: 'Roboto';
  font-size: 30px;
  background-color: #363f45;
  color: #f9f9f9;
}

.container-center{
  border-radius: 25px;
  margin: auto;
  width: 30%;
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  background-color: #f9f9f9;
  color: #212121;
  position: relative;
}

.title{
  font-family: 'Roboto';
  font-size: 50px;
  text-align: center;
  background-color: #FFC107;
  border-top: 15px solid #FFA000;
  color: #f9f9f9;
  margin: -10px;
  padding: -5px;
  position: relative;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius:0;
}

#nameBlurred{
  opacity: 0.3;
  color: #757575;
}

#nameUnblurred{
  opacity: 1;
}

dt:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 25px;
}

#description{
  margin: auto;
  width: inherit;
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

input{
  font-family: 'Roboto';
  font-size: 15px;
  border-radius: 25px;
  border: 2px solid #f9f9f9;
  padding: 20px; 
  width: 200px;
  height: 15px;   
  padding: 10px;
  margin: 10px;
  margin-bottom: 40px;
}

input:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.fab {
  width: 200px;
  height: 200px;
  background-color: #212121;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.1s ease-in-out;

  font-size: 100px;
  color: #f9f9f9;
  text-align: center;
  line-height: 190px;
  right: 50px;
  bottom: 50px;
  position: fixed;
}

.fab:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: scale(1.05);
  cursor: pointer;
}

#submit{
  width: 50px;
  height: 50px;
  background-color: #212121;
  border-radius: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.1s ease-in-out;

  font-size: 20px;
  color: #f9f9f9;
  text-align: center;
  line-height: 50px;
  right: 40px;
  bottom: 50px;
  position: absolute;
}

#submit:hover {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transform: scale(1.05);
  cursor: pointer;
}